<md-dialog flex="30">
  <md-dialog-content>

    <!-- Title section -->
    <div class="md-dialog-content">
    	<div layout="row">
    		<div layout="column" flex="60">
    			<span layout="row" class="hint">Name</span>
    			<span layout="row" class="margin-top-0">{{data.campaign_label}}</span>
    		</div>
    		<div layout="column" flex="40">
    			<span layout="row" class="hint">Campaign ID</span>
    			<span layout="row" class="margin-top-0">{{data.campaign_id}}</span>
    		</div>
    	</div>
    	<div layout="row">
    		<div layout="column" flex="60">
    			<span layout="row" class="hint">CRM</span>
    			<span layout="row" class="margin-top-0">{{data.crm}}</span>
    		</div>
    		<div layout="column" flex="40">
    			<span layout="row" class="hint">Shipping ID</span>
    			<span layout="row" class="margin-top-0">{{data.shipping_id}}</span>
    		</div>
    	</div>
    	<div layout="row">
    		<div layout="column" flex="60">
    			<span layout="row" class="hint">Campaign Type</span>
    			<span layout="row" class="margin-top-0">{{data.campaign_type}}</span>
    		</div>
    		<div layout="column" flex="40">
    			<span layout="row" class="hint">Billing Type</span>
    			<span layout="row" class="margin-top-0">{{data.billing_type}}</span>
    		</div>
    	</div>
      
    </div>
  </md-dialog-content>
</md-dialog>