<md-dialog flex="40">
  <md-dialog-content class="error-popcell">
    <div class="warning-cell">
          <i class="material-icons warning-icon">
            warning
          </i>
          <h3>License Key Expired </h3>
          <p>It seems like the license key for <strong>Unify Framework</strong> has expired.</p>
          <p class="small-cont-error">To use this app, you must renew the license by contacting the support team where they will assist you with the process. </p> 
          <div class="error-support-row">
            <h3>Sales Team Contact Information</h3>
            <div class="error-support-row-in">
                <div class=""><a href="#"><i class="material-icons">mail_outline</i> support@unify.to</a></div>
                <div class=""><a href="#"><i class="material-icons">call</i> +1 (260) 918-0489 </a></div>
            </div>
          </div>
    </div>

  </md-dialog-content>
</md-dialog>