<div class="md-dialog-content" style="padding-bottom: 0;">
    <div layout="row" class="popup-heading-text">
        <div flex="70" class="md-headline" layout-align="start center">
            {{data.experiment_name}}
        </div>
        <div layout="row" flex="30" layout-align="end center">
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons" aria-label="Close dialog">
                    clear
                </i>
            </md-button>
        </div>
    </div>
    <div layout="row" class="popup-heading-text">
        <button class="md-primary md-button md-ink-ripple remove-btn font-italic" type="button" ng-disabled="true"
            disabled="disabled">Created {{data.last_modified_formated}}</button>
    </div>
</div>

<div layout="row" layout-align="center" layout-padding layout-margin style="background: white">
    <md-content flex class="list-tab-wraper">
        <div layout="row" layout-align="start center">
            <div flex="30" class="right-padding-20">Variation</div>
            <div flex="20" class="right-padding-20">Traffic</div>
            <div flex="20" class="right-padding-20">Unique Visitors</div>
            <div flex="20" class="right-padding-20">Conversion Rate</div>
            <div flex="20" class="right-padding-20">Conversions</div>
        </div>
        <md-divider></md-divider>

        <div layout="row" layout-align="end center" ng-repeat="details in data.quick_view" class="list-repeated-item row-gap">
            <div flex="30" class="right-padding-20">{{ details.label }}</div>
            <div flex="20" class="right-padding-20">{{ details.traffic }}</div>
            <div flex="20" class="right-padding-20">{{ details.unique_visitors }}</div>
            <div flex="20" class="right-padding-20">{{ details.conversion_rate }} %</div>
            <div flex="20" class="right-padding-20">{{ details.conversions }}</div>
        </div>
        <div layout = "row" layout-padding ng-show="!data.quick_view.length" class="no-data-text">
            <div flex layout="row" layout-align="center center">No Record found.</div>
        </div>
    </md-content>
</div>
<!--</div>-->