<md-dialog flex="45">
    <md-dialog-content>
        
        <div class="md-dialog-content">
            <div ng-if="!removeIframe">
                    <div layout="row" class="popup-heading-text">
                        <div flex="70" class="md-headline" layout-align="start center">
                             Scheduler History Log
                        </div>
                        <div  layout="row" flex="30" layout-align="end center">
                            <md-button class="md-icon-button" ng-click="cancel()">
                                <i class="material-icons" aria-label="Close dialog">
                                clear
                                </i>
                            </md-button>
                        </div>
                    </div>
                    <!-- Title section -->
                    
                    <p>
                        {{ data[0].handler }}
                    </p>

                    <md-content flex class="list-tab-wraper">
                        <div layout = "row" layout-align="start center" class="log-row">
                            <div flex="40" flex-md="5" class="right-padding-20">Time</div>
                            <div flex="20" class="right-padding-20">Status</div>
                            <div flex="40" class="right-padding-20">Description/Output</div>
                        </div>
                        <md-divider></md-divider>
                        <div layout = "row" layout-align="end center" ng-repeat-start="record in data| filter:{handler: searchText} as Result" class="log-row">
                            
                            <div flex="40" flex-md="5" class="right-padding-20">
                                {{ record.event_at | date:'medium' }}
                            </div>
                            <div flex="20" class="right-padding-20">
                                {{ record.event_type }}
                            </div>
                            <div flex="40" class="right-padding-20" ng-click="toggleShowMore($index)">
                                <div ng-class="{ 'word-limits' : !showMore[$index] && record.output.length > 24, 'show-more' : showMore[$index] && record.output.length > 24}">
                                    <span ng-if="record.output.length">
                                        {{ record.output }}
                                    </span>                                    
                                    <span ng-if="!record.output.length">
                                        Executed.
                                    </span>
                                </div>
                                <!-- <md-tooltip md-direction="right">
                                    {{ record.output }}
                                </md-tooltip> -->
                            </div>
                        </div>
                        <md-divider ng-repeat-end ng-show='{{$last ? false : true}}'></md-divider>
                        <div layout = "row" layout-padding ng-show="!data.length">
                            <div flex layout="row" layout-align="center center"><no-data-text></no-data-text></div>
                        </div>
                        
                    </md-content>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>